.sous-header{
    padding-top: 20px;
}
.btn-success{
    background-color: #37B947;
    color: white;
}

.btn-orange{
    background-color: #37B947;
    color: white;
}

.alignement a{
    margin: 5px;
}

button{
    width: 100%;
    margin: 0 auto;
}
.align-button{
    margin: 0 auto;
    width: 50%;
}

.alert{
    color: red;
}

